

<script src="https://kit.fontawesome.com/f324db610c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    


    <nav>
        <div class="log">
            <div class="logo"></div>
            <p> <a target="_blank" href="http://localhost:8011/about">Raj B </a>  </p>
            
        </div>
        
        <ul>
            
            <li id="home" ><a  href="/" ><i class="fa-sharp fa-solid fa-house-user"></i>Home</a></li>
            <li id="about" ><a href="/about"><i class="fa-solid fa-circle-info"></i>About</a></li>
            <li  id="project"><a href="/projects"><i class="fa-solid fa-laptop-code"></i></i>Project</a></li>
            <li><a  target="_blank" href="/files/cv.pdf"><i class="fa-solid fa-file-user"></i>Resume</a></li>
            <li id="contact" ><a  target="_blank" href="/contact"><i class="fa-solid fa-file-user"></i>Contact</a></li>
            <li><a target="_blank" href="https://github.com/raj0811"><i class="fa-brands fa-github"></i></a></li>


        </ul>

    </nav>

