

    <link rel="stylesheet" href="/css/header.css">
    


    <nav>
        <span>Raj B</span>
        <ul>
            
            <li  ><a id="home" href="/" ><i class="fa-sharp fa-solid fa-house-user"></i>Home</a></li>
            <li><a id="about" href="/about"><i class="fa-solid fa-circle-info"></i>About</a></li>
            <li><a id="project" href="/projects"><i class="fa-duotone fa-diagram-project"></i>Project</a></li>
            <li><a  target="_blank" href="/files/cv.pdf"><i class="fa-solid fa-file-user"></i>Resume</a></li>
            <li><a target="_blank" href="https://github.com/raj0811"><i class="fa-brands fa-github"></i></a></li>
        </ul>

    </nav>

