<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ad694a6f7f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/about.css">
    <title>Document</title>
</head>

<body>
    <main>

        <div class="super">


            <div class="main-d">

                <div class="sec">
                    <div class="data">
                        <h1>Know Who I'M <i class="fa-brands fa-think-peaks"></i></h1>

                        <div>
                            <p class="intro">
                                Hi Everyone, I am Raj Barmaiya from Madhya Pradesh, India.
                                I am a Student . 
                            </p>
                            <p class="hobb">
                                Apart from coding, some other activities that I love to do!
                            <ul class="list">
                                <li>Playing Games</li>
                                <li>Listening Music</li>
                                <li>Traveling</li>
                            </ul>
                            </p>
                            <p class="quote">"Only a life lived for others is a life worthwhile." -Albert Einstein</p>
                        </div>
                    </div>
                    <div class="bg-img">

                    </div>
                </div>

                <div class="skills">
                    <div class="main-skill">
                        <h1>Professional Skills</h1>
                        <div class="skill-cards">
                            <div class="card ">
                               <div class="html">

                               </div>
                            </div>
                            <div class="card">
                                <div class="css">

                                </div>
                            </div>
                            <div class="card ">
                                <div class="node">
                                    
                                </div>
                            </div>
                            <div class="card">
                                <div class="js">
                                    
                                </div>
                            </div>
                            <div class="card">
                                <div class="react">
                                    
                                </div>
                            </div>
                            <div class="card">
                                <div class="mongo">
                                    
                                </div>
                            </div>
                            <div class="card">
                                <div class="java">
                                    
                                </div>
                            </div>
                            <div class="card">
                                <div class="python">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="social">
                    <h1>Follow me on Social media</h1>
                    <div class="social-card">
                        <div class="s-card ig">
                            
                            <a href="" class="insta">

                            </a>
                        </div>
                        <div class="s-card git">
                            <a href="" class="github">

                            </a>
                        </div>
                        <div class="s-card lkd">
                            <a href="" class="linkedin">

                            </a>
                        </div>
                        <div class="s-card wp">
                            <a href="" class="whatsapp">

                            </a>
                        </div>
                        <div class="s-card fb">
                            <a href="" class="facebook">

                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
<script>
    var ele=document.getElementById("about");
    ele.classList.add("active")
</script>
</html>