<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ad694a6f7f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>


    <main>

        <div class="main-c">

            <div class="hi">
                <div class="f">Hi There  <img class="wave" src="/image/hand.png" alt=""></div>
               
                <div class="typewriter">
                    <h1>I am Raj Barmaiya</h1>
                    
                  </div>
                
               
            </div>
            <div class="ico">
    
            </div>

        </div>
       
        
    </main>


    <script>
        var ele=document.getElementById("home");
        ele.classList.add("active")
    </script>
</body>
</html>