<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/project.css">
    <title>Project</title>
</head>

<body>

    <main>


        <div class="main-d">
            <div class="project">
                <h1>My Projects</h1>
                <h1>Backend Project</h1>
                <div class="my-projects">
                   
                    <div class="p-card auth-h">
                        <h2>Authentication </h2>
                        <div class="auth">

                        </div>
                        <span>

                            A complete authentication system which can be used as a starter code for creating any new
                            application.
                            user can change password and reset password user will receive new password in email
                            password will saved in database in encrypted form


                        </span>
                        <a target="_blank" target="_blank" href="https://github.com/raj0811/AuthenticationSystemCn">View</a>
                    </div>
                    <div class="p-card issue-h">
                        <h2>Issue Tracker </h2>
                        <div class="issue">

                        </div>
                        <span>
                            user can create projects and others can comment on that project tell them issues and bug
                        </span>
                        <a target="_blank" href="https://github.com/raj0811/IssueTrackerCn">View</a>
                    </div>
                    <div class="p-card api-h">
                        <h2>Ecommerce API
                        </h2>
                        <div class="api">

                        </div>
                        <span>
                            Its an Ecommerce API to manage product inventory
                            api for adding removing and updating the product inventory

                        </span>
                        <a target="_blank" href="https://github.com/raj0811/EcommerceAPI_CN" target="_blank">View</a>
                    </div>
                    <div class="p-card enc-h">
                        <h2>Encryption APP </h2>
                        <div class="auth encryption">

                        </div>
                        <span>
                            Its an Android application to encrypt and decrypt message into morse Code and symbolic
                            User can enter message in it will encrypt it User enter encrypted message it will decrypt


                        </span>
                        <a target="_blank" href="https://github.com/raj0811/EncryptionAPP">View</a>
                    </div>
                    <div class="p-card cv-h">
                        <h2>Resume builder </h2>
                        <div class="auth cv">

                        </div>
                        <span>
                            Enter your persnal details and it will Genrate Resume in PDF format


                        </span>
                        <a target="_blank" href="https://github.com/raj0811/ResumeBuilder">View</a>
                    </div>

                    <div class="p-card bill-h">
                        <h2>Invoice Genrator </h2>
                        <div class="auth bill">

                        </div>
                        <span>
                            Invoice genrator and print it

                            enter address and product details
                            bill will genrate
                            you can print it

                        </span>
                        <a target="_blank" href="https://github.com/raj0811/billgenrator">View</a>
                    </div>


                </div>
            </div>
            <div class="web">
                <h1>Website Templates</h1>
                <div class="web-c">
                    <div class="web-card epic-h">
                        <h2> Epic game clone</h2>
                        <div class="web-img epic">

                        </div>
                        <span>
                            Clone of epic game frontend webpage template made with html js css and bootstrap
                        </span>
                        <a href="https://github.com/raj0811/epicclone">View</a>
                    </div>
                    <div class="web-card cal-h">
                        <h2> Calculator</h2>
                        <div class="web-img cal">

                        </div>
                        <span>
                            Working calculator UI and functioning made with HTML,CSS, JS
                        </span>
                        <a href="https://github.com/raj0811/calculator">View</a>
                    </div>

                    <div class="web-card conct-h">
                        <h2> Contact List</h2>
                        <div class="web-img conct">

                        </div>
                        <span>
                            Working contactlist where you can add and remove contact of people with name
                        </span>
                        <a href="">View</a>
                    </div>
                    <div class="web-card music-h">
                        <h2> Music Player UI</h2>
                        <div class="web-img music">

                        </div>
                        <span>
                            Music player UI only made with HTML,CSS,JS
                        </span>
                        <a href="">View</a>
                    </div>

                </div>

            </div>
        </div>


    </main>

    <script>
        var ele = document.getElementById("project");
        ele.classList.add("active")
    </script>
</body>

</html>