*{
    margin: 0%;
    padding: 0%;
}

.active{
    border-bottom: 2px solid white;
  
}
nav{
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
}
nav{
    width: 100%;
    height: 5vh;
    display: flex;
}
nav ul{
    display: flex;
    color: aliceblue;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin-left: 30%;
}
nav li{
    /* background-color: aquamarine; */
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
}


span{
    color: aliceblue;
    /* border: 2px solid red; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
