@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.mail{
    background-color: aquamarine;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 50vh;
}
table{
    margin-left: 5%;
}
table tr{
    margin-top: 20px;
    padding: 2px;
}
td{
    padding: 5px;
}
.first td{
    display: flex;
}
.name{
    margin-left: 5px;
    text-transform: capitalize;
    font-weight: 600;
}
.bottom{
    padding-top: 100px;
}